# C7M1 notebook 2: Importing Datasets and Basics

In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = "datasets/laptop_pricing.csv"

In [3]:
df = pd.read_csv(filepath, header=None )
df.head()

     0   1          2   3   4   5       6    7   8    9     10    11
0  Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1  Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2  Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3  Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4    HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837

In [4]:
headers = ["manufacturer", "category", "display_type", "gpu", "os", "cpu_core", "screen_size_cm",
           "cpu_frequency", "ram_gb", "storage_gb_ssd", "weight_kg", "price_usd"]

df.columns = headers

In [5]:
df.head(10)

,manufacturer,category,display_type,gpu,os,cpu_core,screen_size_cm,cpu_frequency,ram_gb,storage_gb_ssd,weight_kg,price_usd
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
5,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
6,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.1,1117
7,Acer,3,IPS Panel,2,1,5,38.1,1.6,4,256,2.2,866
8,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.3,812
9,Acer,3,IPS Panel,3,1,7,38.1,1.8,8,256,2.2,1068

In [6]:
df.tail(10)

,manufacturer,category,display_type,gpu,os,cpu_core,screen_size_cm,cpu_frequency,ram_gb,storage_gb_ssd,weight_kg,price_usd
228,HP,2,Full HD,2,1,5,31.75,2.3,8,256,1.26,2120
229,Dell,4,Full HD,2,1,5,35.56,2.5,8,256,1.36,2082
230,Dell,4,Full HD,2,1,5,?,2.5,8,256,1.36,1870
231,Dell,4,Full HD,2,1,7,35.56,2.8,8,256,1.36,2255
232,Toshiba,3,Full HD,2,1,5,33.782,2.3,8,256,1.2,1855
233,Lenovo,4,IPS Panel,2,1,7,35.56,2.6,8,256,1.7,1891
234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.2,1950
235,Lenovo,4,IPS Panel,2,1,5,30.48,2.6,8,256,1.36,2236
236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.4,883
237,Toshiba,3,Full HD,2,1,5,35.56,2.3,8,256,1.95,1499

In [7]:
df.describe()

,category,gpu,os,cpu_core,cpu_frequency,ram_gb,storage_gb_ssd,price_usd
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,3.205882,2.151261,1.058824,5.630252,2.360084,7.882353,245.781513,1462.344538
std,0.776533,0.638282,0.235790,1.241787,0.411393,2.482603,34.765316,574.607699
min,1.000000,1.000000,1.000000,3.000000,1.200000,4.000000,128.000000,527.000000
25%,3.000000,2.000000,1.000000,5.000000,2.000000,8.000000,256.000000,1066.500000
50%,3.000000,2.000000,1.000000,5.000000,2.500000,8.000000,256.000000,1333.000000
75%,4.000000,3.000000,1.000000,7.000000,2.700000,8.000000,256.000000,1777.000000
max,5.000000,3.000000,2.000000,7.000000,2.900000,16.000000,256.000000,3810.000000

In [8]:
df.describe(include= "all")

,manufacturer,category,display_type,gpu,os,cpu_core,screen_size_cm,cpu_frequency,ram_gb,storage_gb_ssd,weight_kg,price_usd
count,238,238.000000,238,238.000000,238.000000,238.000000,238,238.000000,238.000000,238.000000,238,238.000000
unique,11,NaN,2,NaN,NaN,NaN,10,NaN,NaN,NaN,78,NaN
top,Dell,NaN,Full HD,NaN,NaN,NaN,39.624,NaN,NaN,NaN,2.2,NaN
freq,71,NaN,161,NaN,NaN,NaN,89,NaN,NaN,NaN,21,NaN
mean,NaN,3.205882,NaN,2.151261,1.058824,5.630252,NaN,2.360084,7.882353,245.781513,NaN,1462.344538
std,NaN,0.776533,NaN,0.638282,0.235790,1.241787,NaN,0.411393,2.482603,34.765316,NaN,574.607699
min,NaN,1.000000,NaN,1.000000,1.000000,3.000000,NaN,1.200000,4.000000,128.000000,NaN,527.000000
25%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.000000,8.000000,256.000000,NaN,1066.500000
50%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.500000,8.000000,256.000000,NaN,1333.000000
75%,NaN,4.000000,NaN,3.000000,1.000000,7.000000,NaN,2.700000,8.000000,256.000000,NaN,1777.000000
max,NaN,5.000000,NaN,3.000000,2.000000,7.000000,NaN,2.900000,16.000000,256.000000,NaN,3810.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manufacturer    238 non-null    object
 1   category        238 non-null    int64
 2   display_type    238 non-null    object
 3   gpu             238 non-null    int64
 4   os              238 non-null    int64
 5   cpu_core        238 non-null    int64
 6   screen_size_cm  238 non-null    object
 7   cpu_frequency   238 non-null    float64
 8   ram_gb          238 non-null    int64
 9   storage_gb_ssd  238 non-null    int64
 10  weight_kg       238 non-null    object
 11  price_usd       238 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.4+ KB

In [10]:
df = df.replace("?", np.nan)

In [11]:
df.tail(10)

,manufacturer,category,display_type,gpu,os,cpu_core,screen_size_cm,cpu_frequency,ram_gb,storage_gb_ssd,weight_kg,price_usd
228,HP,2,Full HD,2,1,5,31.75,2.3,8,256,1.26,2120
229,Dell,4,Full HD,2,1,5,35.56,2.5,8,256,1.36,2082
230,Dell,4,Full HD,2,1,5,NaN,2.5,8,256,1.36,1870
231,Dell,4,Full HD,2,1,7,35.56,2.8,8,256,1.36,2255
232,Toshiba,3,Full HD,2,1,5,33.782,2.3,8,256,1.2,1855
233,Lenovo,4,IPS Panel,2,1,7,35.56,2.6,8,256,1.7,1891
234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.2,1950
235,Lenovo,4,IPS Panel,2,1,5,30.48,2.6,8,256,1.36,2236
236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.4,883
237,Toshiba,3,Full HD,2,1,5,35.56,2.3,8,256,1.95,1499

In [12]:
df[['screen_size_cm',  'weight_kg']] = df[['screen_size_cm', 'weight_kg' ]].astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manufacturer    238 non-null    object
 1   category        238 non-null    int64
 2   display_type    238 non-null    object
 3   gpu             238 non-null    int64
 4   os              238 non-null    int64
 5   cpu_core        238 non-null    int64
 6   screen_size_cm  234 non-null    float64
 7   cpu_frequency   238 non-null    float64
 8   ram_gb          238 non-null    int64
 9   storage_gb_ssd  238 non-null    int64
 10  weight_kg       233 non-null    float64
 11  price_usd       238 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 22.4+ KB